body {
 width:100vw;
 height:100vh;
}
#contact {
	height: 30%;
	width: 210px;
	margin-left: 8%;
	padding: 10px;
	background: silver; 
	margin-top: 3%;
	float:left;
}
.admin {
	height:17%;
	width: 200px;
	margin-left: 1%;
	padding: 10px;
	background: silver;
	margin-top: 3%;
	float: unset;
}
#buttoms {
	height: 43%;
	width: 210px;
	margin-left: 8%;
	padding: 10px;
	background-color: gainsboro;
	margin-top: 1%;
	position: absolute;
	top: 47%;
	display:none;
}
#view_ans {
	height:85%;
	width: 600px;
	margin-left: 8%;
	padding: 10px;
	background: silver;
	margin-top: 3%;
	display: inline-table;
}
.input_data {
	margin-left: 2%;
	margin-top: 2%;
	background-color: lightgray;
	height: 30%;
	width: 40%;
	padding-left:3%;
	padding-top:2%;
}
#data_Add_stu {
	display:none;
}

#get_list_by_course {
	display: none;
}
#get_my_grad {
	display: none;
}
#delete {
	display: none;
}